@model Flashcards.Models.FlashCard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FlashCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Word1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Word1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Word2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Word2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
