@model PagedList.IPagedList<Flashcards.Models.FlashCard>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Flashcards";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <tr>
        <div id="word1">
        <td>
            @Html.DisplayFor(modelItem => item.Word1)
        </td>
        </div>
    <div id="word2" style="display: none;">
        <td>
            @Html.DisplayFor(modelItem => item.Word2)
        </td>
    </div>
    <td>
        <a href="@Url.Action("Index", "FlashCards", new { page = Model.PageNumber, nr = 2, know = 1 })">
        <img src="~/images/check.png" width="10px" height="10px">
        <a />
        <button type="button"
                onclick="updateLabel()">
            FLIP
        </button>
        <a href="@Url.Action("Index", "FlashCards",new { page = Model.PageNumber, nr = 2, know = 0 })">
            <img src="~/images/X.png" width="10px" height="10px">
            <a />

    </td>
    </tr>
}

    </table>
<br />




        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page }) + "&nr=" + ViewData["nr"])
<script type="text/javascript">

    function updateLabel() {
        var data = @Html.Raw(Json.Encode(Model.First()));
        
                var lbd = document.getElementById("word1");
                var lbd2 = document.getElementById("word2");
        var synth = window.speechSynthesis;
        var word1 = data.Word1;
        var word2 = data.Word2;

        console.log(word1);
console.log(word2);


         if (window.getComputedStyle(lbd2).display === "none")  {
            lbd2.style.display = "block";

            lbd.style.display = "none";

                    var utterance1 = new SpeechSynthesisUtterance(word2);
                    utterance1.lang = 'en-US';
                 

                   

                }
                else {

           
            lbd2.style.display = "none";
                    lbd.style.display = "block";
                 
                    
                    var utterance1 = new SpeechSynthesisUtterance(word1);
                    utterance1.lang = 'pl-PL';
                  
            }


        synth.speak(utterance1);
        

                var amISpeaking = synth.speaking;

            }
</script>
